body{
    width: 100%;
}


strong{
    color: black;
    font-size: large;
}

h1{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.3em;  
    padding-top:10%;
    padding-bottom:1%;  
}

.app-descricao{
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 3%;
    word-spacing: 2px;
    line-height: 25px;
    width: 83%;
}

img{
    width: 100%;
    border: solid lightgray 3px;
}

.Image1, .Image2, .Image3, .Image4, .Image5, .Image6, .Image7{
    width: 70%;
    /* margin-right:2%; */
    margin-left: 12%;
}

@media(min-width:700px){
    .Image1, .Image3, .Image5{
        width: 30%;
        /* margin-right:2%; */
        margin-left: 5%;
        float: left;
        
    }
    .Image2, .Image4, .Image6{
        width: 30%;
        /* margin-right:2%; */
        margin-left: 22%;
        float: left;
        
    }

    .Image7{
        width: 30%;
        /* margin-right:2%; */
        margin-left: 5%;
    }
}

/* 
.Image2{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
}

.Image3{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
}

.Image4{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
}

.Image5{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
}

.Image6{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
}

.Image7{
    width: 40%;
    float: left;
    clear: right;
    margin-right:2%;
    margin-left: 5%;
} */


@media(min-width:1200px){

    /* footer{
        position: fixed;
        bottom: 0%;
    } */
    
    h1{
        text-align:center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:1.6em;  
        padding-top:3%;
        padding-bottom:0%;  
    }
    
    
    img{
        width: 100%;
        border: solid lightgray 3px;
    }
    
    .Image1{
        width: 10%;
        float: left;
        margin-right:2%;
        clear: left;
    }


   .Image2, .Image3, .Image4, .Image5, .Image6{
        width: 10%;
        float: left;
        margin-right:1%;
        margin-left: 2%;
    }

    .Image7{
        width: 10%;
       
        clear: right;
        margin-bottom: 5%;
    }

    .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
    }
    
    #image-gallery .modal-footer{
        display: block;
    }
    

    .app-descricao{
        margin-top: 1%;
        margin-left: 5%;
        margin-bottom: 3%;
        word-spacing: 3px;
        line-height: 30px;
        width: 83%;
    }
    
}


@media(min-width:1500px){

    footer{
        position: absolute;
        bottom: 0%;
    }
    
    h1{
        text-align:center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:1.6em;  
        padding-top:3%;
        padding-bottom:0%;  
    }
    
    
    img{
        width: 100%;
        border: solid lightgray 3px;
    }
    
    .Image1{
        width: 10%;
        float: left;
        margin-right:2%;
    }

   .Image2, .Image3, .Image4, .Image5, .Image6, .Image7{
        width: 10%;
        float: left;
        margin-right:1%;
        margin-left: 2%;
    }

    .Image7{
        clear: right;
        margin-bottom: 5%;
    }
    
    .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
    }
    
    #image-gallery .modal-footer{
        display: block;
    }
    
    .app-descricao{
        margin-top: 1%;
        margin-left: 5%;
        margin-bottom: 3%;
        word-spacing: 3px;
        line-height: 30px;
        width: 83%;
    }
    
}


    


