h1{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.6em;  
    padding-top:5%;
    padding-bottom:10%;  
}

main p{
    padding-left: 10%;
    padding-bottom: 20%;
}